.page.theme_light {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --accent-color: #FF0070;
    --font-color: #353430;
    --font-color-title: #353430;
    --text-color: #353430;
    --font-color-menu: #353430;
    --font-color-menu-hover: #32312D66;
    --title-color: #FFC2E6;
    --title-decor-color: #FF8DCB;
}

.theme_light .rec {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-image: url(../images/cover-image-light.png);
        --background-color: #FFF1F7;
        --accent-color: #FF0070;
        --font-color: #353430;
        --font-color-title: #353430;
        --text-color: #353430;
        --font-color-menu: #353430;
        --font-color-menu-hover: #32312D66;
        --title-color: #FFC2E6;
        --title-decor-color: #FF8DCB;
    }

    .theme_auto .rec {
        display: none;
    }
}