.page.theme_light {
    --main-font: "IBM Plex mono";
    --background-image: url(../images/cover-image-light.png);
    --color-pink-1: #fff1f7;
    --color-pink-3: #ffc2e6;
    --color-pink-4: #ff8dcb;
    --color-black-1: #353430;
    --color-black-1-shadow: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --main-font: "IBM Plex mono";
        --background-image: url(../images/cover-image-light.png);
        --color-pink-1: #fff1f7;
        --color-pink-3: #ffc2e6;
        --color-pink-4: #ff8dcb;
        --color-black-1: #353430;
        --color-black-1-shadow: rgba(53, 52, 48, 0.4);
    }
}

.rec {
    display: none;
}