.page {
    background-image: var(--background-image);
    background-color: var(--background-color, #000028);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main-font), Arial, sans-serif;
    max-width: 1024px;
    min-width: 375px;
    margin: 0 auto;
}

.decorated-zone {
    position: relative;
    max-width: 100%;
    min-height: 100vmin;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--header-decoration-color);
    border-right: 1px solid var(--header-decoration-color);
    top: 20px;
    right: 20px;
}

.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--header-decoration-color);
    border-left: 1px solid var(--header-decoration-color);
    bottom: 20px;
    left: 20px;
}

.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.rec {
    display: var(--display-rec);
    position: absolute;
    color: var(--accent-color);
    font-size: 18px;
    top: 20px;
    right: 48px;
}

.rec::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: var(--accent-color);
    box-shadow: 0 0 5px 3px var(--accent-color);
    border-radius: 50%;
    top: 8px;
    left: 42px;
}

.header__theme-menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px auto 0;
    gap: 10px;
}

.header__theme-menu-button {
    appearance: none;
    width: 70px;
    font-family: inherit;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: var(--theme-menu-color);
    text-transform: lowercase;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 4px 0;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--theme-menu-color-transparent);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--theme-menu-color);
}

.title {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
}

.mainTitle {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--heading-color, #db00ff);
    text-shadow: 4px 4px 0 var(--accent-color);
    line-height: 0.8;
    margin: 0;
    justify-self: start;
    align-self: center;
}

.decoration {
    background-color: var(--accent-color, #ff0070);
    color: var(--subtitle-text-color);
}

.subtitle {
    max-width: calc(50% - 20px);
    justify-self: end;
    align-self: end;
    margin: 0 20px 134px 0;
}

.main {
    padding: 60px 20px;
}

.sectionTitle {
    color: var(--section-title-color, #ff0070);
    margin: 0;
}

.text {
    color: var(--text-color, #f1b2ce);
    font-size: 18px;
    margin: 10px 0 0;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
    border-bottom: 1px solid var(--text-color)
}

.link:focus-visible {
    outline: none;
    border: 1px solid var(--text-color);
}

.section {
    display: grid;
    gap: 20px;
    margin: 0 0 80px;
}

.section:last-of-type {
    margin: 0;
}

.why {
    grid-template-columns: repeat(3, 1fr);
}

.whyTitle {
    grid-row: span 2;
}

.articleWhy,
.article {
    grid-column: span 2;
}

.what,
.how {
    grid-template-columns: repeat(3, 1fr);
}

.whatTitle {
    grid-column: span 3;
    width: 33%;
}

.howTitle {
    grid-row: span 6;
}

.howTitleText {
    grid-column: span 2;
}

.subtitleText {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.pictures {
    grid-template-columns: repeat(3, 1fr);
}

.picturesTitle {
    grid-column: span 3;
}

.img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img:first-of-type,
.img:last-of-type {
    grid-column: span 2;
}

.img:nth-of-type(2),
.img:nth-of-type(3) {
    grid-row: span 2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: max(100vb, 668px);
}

@media (orientation: portrait) {
    .decorated-zone {
        min-height: 100vmax;
    }

    .header__theme-menu-list {
        flex-direction: column;
        align-items: end;
        margin: 25vmin 20px 0 0;
    }
}

@media (max-width: 1023px) {
    .what {
        grid-template-columns: 1fr;
    }

    .whatTitle {
        grid-column: span 1;
    }

    .article {
        grid-column: span 3;
    }
}

@media (max-width: 767px) {

    .why,
    .how {
        grid-template-columns: 1fr;
    }

    .whatTitle,
    .howTitle {
        width: 100%;
        grid-row: span 1;
    }

    .header .subtitle {
        margin-top: -10px;
    }
}

@media (max-width: 568px) {
    .decorated-zone {
        min-height: 100vmax;
    }

    .decorated-zone::before {
        top: 10px;
        right: 10px;
    }

    .decorated-zone::after {
        bottom: 10px;
        left: 10px;
    }

    .header__theme-menu-list {
        margin: 20vmin 10px 0 0;
    }

    .rec {
        display: var(--display-rec);
    }

    .mainTitle {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        justify-self: center;
        margin: 14px 10px;
        line-height: 0.84
    }

    .subtitle {
        max-width: 100%;
        justify-self: center;
        align-self: center;
        margin: 13px 10px;
    }

    .main {
        padding: 40px 10px;
    }

    .section {
        margin: 0 0 60px;
    }

    .pictures {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .picturesTitle {
        grid-column: span 1;
    }

    .img:first-of-type,
    .img:last-of-type {
        grid-column: span 1;
    }

    .img:nth-of-type(2),
    .img:nth-of-type(3) {
        grid-row: span 1;
    }
}