
:root {
    --main-font: 'IBM Plex mono';
    --background-image: url(../images/cover-image-dark.png);
    --blue-color-1: #000028;
    --purple-color-1: #db00ff;
    --pink-color-1: #f1b2ce;
    --pink-color-2: #ff0070;
    --pink-color-3: rgba(255, 0, 112, 0.4);
}
